<template>
    <el-form class="signup-form" onsubmit="return false">
        <div class="item-wrapper">
            <label>아이디</label>
            <template v-if="$v.id.$error">
                <label class="caution" v-if="!$v.id.required">(아이디를 입력해주세요.)</label>
                <label class="caution" v-else-if="!$v.id.minLength">(아이디를 최소 6자 이상 입력해주세요.)</label>
            </template>
            <el-input type="text" v-model.trim="id" size="large" @input="$v.id.$touch"></el-input>
        </div>
        <div class="item-wrapper">
            <label>비밀번호</label>
            <template v-if="$v.pw.$error">
                <label class="caution" v-if="!$v.pw.required">(비밀번호를 입력해주세요.)</label>
                <label class="caution" v-else-if="!$v.pw.minLength">(비밀번호를 최소 8자 이상 입력해주세요.)</label>
            </template>
            <el-input type="password" v-model.trim="pw" size="large" @input="$v.pw.$touch"></el-input>
        </div>
        <div class="item-wrapper">
            <label>비밀번호 재입력</label>
            <template v-if="$v.rePw.$error">
                <label class="caution" v-if="!$v.rePw.required">(비밀번호를 재입력해주세요.)</label>
                <label class="caution" v-else-if="!$v.rePw.sameAsPassword">(비밀번호가 일치하지 않습니다.)</label>
            </template>
            <el-input type="password" v-model.trim="rePw" size="large" @input="$v.rePw.$touch"></el-input>
        </div>
        <div class="item-wrapper" style="margin-bottom:5px;">
            <label>이름</label>
            <template v-if="$v.name.$error">
                <label class="caution" v-if="!$v.name.required">(이름을 입력해주세요.)</label>
                <label class="caution" v-else-if="!$v.name.sameAsPassword">(이름을 최소 2자 이상 입력해주세요.)</label>
            </template>
            <el-input type="text" v-model.trim="name" size="large" @input="$v.name.$touch"></el-input>
        </div>
        <el-button @click.prevent="signup" type="primary" style="width:100%" size="large">
            회원가입
        </el-button>
    </el-form>
</template>

<script>
import {validationMixin} from 'vuelidate'
import {minLength, required, sameAs} from 'vuelidate/lib/validators'
import {mapActions} from 'vuex'

export default {
    name: "Form",
    extends: validationMixin,
    data() {
        return {
            id: '', pw: '', name: '',
            rePw: ''
        }
    },
    validations: {
        // const vm = this;
        id: {required, minLength: minLength(6)},
        pw: {required, minLength: minLength(8)},
        rePw: {required, sameAsPassword: sameAs("pw")},
        name: {required, minLength: minLength(2)}
    },
    methods: {
        ...mapActions(['addSample']),
        async signup() {
            const vm = this

            if(!vm.$v.$invalid){
                const {id, pw, name} = vm
                const res = await vm.addSample({id, pw, name})

                if(res){
                    vm.$alert("회원가입을 축하드립니다!", "알림").then(() => {
                        vm.$router.push('/login');
                    })
                }
            }
        }
    },
}
</script>

<style lang="scss" scoped>

</style>