<template>
  <el-form>
    <test-checkbox
      class="margin-top-bot"
      @boxClick="boxClick"
      :name="'allCheck'"
      :isCheck="allCheck"
      >이용약관, 개인정보 수집 및 이용, 위치정보 이용약관(선택), 프로모션 안내
      메일 수신(선택)에 모두 동의합니다.</test-checkbox
    >
    <test-checkbox
      class="margin-top-bot"
      @boxClick="boxClick"
      :name="'oxCheck'"
      :isCheck="oxCheck"
    >
      OX트레이드 이용약관 동의
      <span class="sub-text">(필수)</span>
    </test-checkbox>
    <el-input type="textarea" readonly resize="none" v-model="oxCaption" class="textarea"></el-input>
    <test-checkbox
      class="margin-top-bot"
      @boxClick="boxClick"
      :name="'prCheck'"
      :isCheck="prCheck"
    >
      개인정보 수집 및 이용에 대한 안내
      <span class="sub-text">(필수)</span>
    </test-checkbox>
    <el-input type="textarea" readonly resize="none" v-model="prCaption" class="textarea"></el-input>
    <test-checkbox
      class="margin-top-bot"
      @boxClick="boxClick"
      :name="'pushCheck'"
      :isCheck="pushCheck"
    >
      이벤트 등 프로모션 알림을 위한 메일/문자 수신
      <span class="sub-text">(선택)</span>
    </test-checkbox>

    <el-row :gutter="10"> 
        <el-col :span="12">
            <el-button style="width:100%;" @click="$router.push('/')">취소</el-button>
        </el-col>
        <el-col :span="12">
            <el-button type="primary" style="width:100%;" @click="confirm">확인</el-button>
        </el-col>
    </el-row>
  </el-form>
</template>

<script>
import TestCheckbox from "@/components/static/TestCheckBox.vue";

const oxCaption = `
    test
    test
    test
    test
    test
`;

const prCaption = `
    test2
    test2
    test2
    test2
    test2
`;

export default {
  name: "Term",
  components: {
    TestCheckbox,
  },
  data() {
    return {
      allCheck: false,
      oxCheck: false,
      prCheck: false,
      pushCheck: false,
      oxCaption,
      prCaption
    };
  },
  methods: {
    boxClick(name, isCheck) {
      const vm = this;
      vm[name] = isCheck;
      if (name === "allCheck") {
        vm.oxCheck = isCheck;
        vm.prCheck = isCheck;
        vm.pushCheck = isCheck;
      } else if (!isCheck) {
        vm.allCheck = isCheck;
      }

      if (vm.oxCheck && vm.prCheck && vm.pushCheck && !vm.allCheck)
        vm.allCheck = !vm.allCheck;
    },
    confirm() {
        const vm = this;
        if(!vm.oxCheck && !vm.prCheck) return vm.$alert("약관 필수항목에 대해 동의선택을 해주시기 바랍니다.", "알림");

        vm.$emit("changeComp", "Form");
    }
  },
};
</script>

<style lang="scss" scoped></style>
