<template>
    <div class="test-table">
        <el-aside width="600px">
            <table>
                <tr class="tbHeader">
                    <td width="20%">시간</td>
                    <td width="14%">시가</td>
                    <td width="14%">고가</td>
                    <td width="14%">저가</td>
                    <td width="14%">종가</td>
                    <td width="14%">결정가</td>
                    <td width="10%">결과</td>
                </tr>
            </table>
            <el-scrollbar wrap-style="height:200px;">
                <table class="itemTable">
                    <tr v-for="item in list" :key="item.id">
                        <td width="20%">{{ item.round }}회 ({{ item.time | moment("HH:mm:ss") }})</td>
                        <td width="14%">{{ item.open }}</td>
                        <td width="14%">{{ item.high }}</td>
                        <td width="14%">{{ item.low }}</td>
                        <td width="14%">{{ item.close }}</td>
                        <td width="14%">{{ item.result }}</td>
                        <td width="10%" :class="item.status === 1 ? 'buy' : item.status === 2 ? 'cell' : 'continue'">
                            {{ item.status === 1 ? "매수" : item.status === 2 ? "매도" : "진행중"}}
                        </td>
                    </tr>
                </table>
            </el-scrollbar>
        </el-aside>
        <el-button @click="addList" style="margin-top:5px" type="primary">add</el-button>

        <el-card style="width:500px; margin:20px auto">
            <div slot="header" style="text-align:left;">
                <span>Element Card Test</span>
            </div>
            <el-scrollbar wrap-style="max-height:100px;">
                <el-tag v-for="tag in 30"
                        :key="tag.id"
                        type="info"
                        size="medium"
                        style="margin-right:5px; margin-bottom:5px;">
                        <span>test {{ tag }}th</span>
                </el-tag>
            </el-scrollbar>
        </el-card>
    </div>
</template>

<script>
    export default {
        name: "TestTable",
        data() {
            return {
                list: [
                    {round: 1, time: new Date(), open: 123, high: 234, low:231, close: 200, result: 200, status: 1, id: 1}
                ]
            }
        },
        computed: {
            maxId() {
                return this.list[0].id 
            },
            maxRound() {
                return this.list[0].round
            }
        },
        methods: {
            addList() {
                this.list.unshift({round: this.maxRound + 1, time: new Date(), open: 123, high: 234, low:231, close: 200, result: 200,
                                status: Math.round(Math.random() * 10) % 3 + 1, id: this.maxId + 1})
                this.$emit("addData", this.list.length)
            }
        },
        created () {
            this.$emit("addData", this.list.length);
        },
    }
</script>

<style lang="scss" scoped>
.test-table{
    margin: 0 auto;

    table{
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;

        td{
            border: 1px solid gray;
            height: 20px;
            color: gray;
        }

        .buy{
            color: red;
        }
        .cell{
            color: blue;
        }
        .continue{
            color: green;
        }
        .tbHeader>td{
            font-weight: bold;
            background-color: rgb(243, 243, 243);
            color: black;
        }
    }

    .itemTable tr:first-child>td{
        border-top: none;
    }

    .itemTable tr>td:first-child{
        color: black;
    }
}
</style>
