<template>
  <div id="test">
      <home-header></home-header>
      <el-container style="height:100%;">
        <test-side></test-side>
        <div class="test-wrapper">
          <h1>{{ text }}</h1>
          <h4 style="margin-bottom:0px;">총 {{total}}개</h4>
          <el-container>
              <test-table @addData="changeTotal"></test-table>
          </el-container>
        </div>
      </el-container>
  </div>
</template>

<script>
import TestTable from '@/components/test/TestTable';
import TestSide from '@/layout/test/TestSide';
import HomeHeader from '@/layout/home/HomeHeader';

export default {
  data() {
    return {
      text: "It's Test Page",
      total: 0
    };
  },
  components: {
      TestTable, TestSide,
      HomeHeader
  },
  methods: {
      changeTotal(length) {
          this.total = length;
      }
  },
};
</script>

<style lang="scss">
@import '@/assets/test';
</style>
