<template>
    <el-aside style="width:360px; border-right:1px solid lightgray; margin-right:10px;">
        <el-container style="height:100%">
            <el-aside style="width:70px; border-right:1px solid lightgray">
                <ul style="list-style-type:none; padding: 0px; margin: 0px;">
                    <li v-for="item in MENUS" :key="item.id" style="padding:10px 0px; font-size:13px;">{{ item.caption }}</li>
                </ul>
            </el-aside>
            <el-main style="background-color:gray;"></el-main>
        </el-container>
    </el-aside>
</template>

<script>

const MENUS = [
    {id:1, caption:'거래내역', component:''},
    {id:2, caption:'입출금내역', component:''},
    {id:3, caption:'학습/전략', component:''},
    {id:4, caption:'리더보드', component:''},
    {id:5, caption:'프로모션', component:''},
    {id:6, caption:'설정', component:''}
]

export default {
    name: "TestSide",
    data() {
        return {
            MENUS
        }
    },
}
</script>

<style lang="scss" scoped>
</style>