<template>
  <div class="test-checkbox" @click="boxClick">
    <i :class="isCheck ? 'el-icon-success' : 'el-icon-circle-check'"></i>
    <p>
      <slot></slot>
    </p>
  </div>
</template>

<script>
export default {
  name: "TestCheckBox",
  props: {
    name: {
      type: [String, Number],
      default: ""
    },
    isCheck: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    boxClick() {
      const vm = this;
      const changeCheck = !vm.isCheck;
      vm.$emit("boxClick", vm.name, changeCheck);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/static/checkbox.scss";
</style>