<template>
    <div class="textTitle">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "TextTitle"
    }
</script>

<style lang="scss" scoped>
.textTitle{
    color: skyblue;
    font-weight: bold;
    font-size: 18px;
}
</style>