#homeHeader{
    position: fixed;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 1000;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 56px;
    padding: 10px 10px;

    .textTitle{
        display: inline-block;
        margin-left: 10px;
        margin-right: auto;
        color: skyblue;
        font-weight: bold;
        font-size: 18px;
    }

    div{
        margin: auto;
    }

    .header-left{
        width: 25%;
        display: flex;
    }
    .header-center{
        width: 50%;
        
        .header-menu{
            font-weight: bold;
            text-decoration: none;
            color: black;
            margin: 0px 10px;

            &:hover{
                color: skyblue;
            }
        }
    }
    .header-right{
        display: flex;
        width: 25%;

        .el-button:first-child{
            margin-left: auto;
        }
        .header-button:first-child{
            margin-left: auto;
        }
    }
}