#home{
    text-align: center;
    padding-top: 60px;

    .logo-main{
        background-color: #B3C0D1;
    }

    .boxed{
        margin: 0px auto;
        width: 1140px;
        padding: 0px 15px;
    }

    .content-main{

        .content-card{
            position: relative;
            padding: 10px;

            .el-card__body{
                padding: 0px;
                text-align: left;

                h4{
                    margin: 5px;
                }

                span{
                    font-size: 12px;
                    color: gray;
                }
            }

            i{
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .caption-green{
                color: green;
            }
            .caption-red{
                color: red;
            }
        }
    }

    .el-row{
        margin-bottom: 15px;
    }

    .sub-caption-wrapper{
        text-align: left;
        margin: 25px 0px;
        h3{
            margin: 8px 0px;
            color: darkblue;
            text-decoration: underline;
        }
        p{
            margin: 8px 0px;
            font-size: 22px;
        }
        span{
            font-size: 18px;
        }
    }
}