<template>
    <el-container id="loginView">
        <div class="login-main">
            <h1>Login Trade Site</h1>
            <img src="@/assets/logo.png" alt="logo" @click="$router.push('/')">
            <el-form :model="form" label-width="100px" :label-position="labelPosition">
                <div class="item-wrapper">
                    <label>아이디</label>
                    <el-input v-model="form.id" placeholder="please input the ID" clearable size="large" @keyup.enter.native="loginFunc"></el-input>
                </div>
                <div class="item-wrapper">
                    <label>비밀번호</label>
                    <el-input type="password" v-model="form.pw" placeholder="please input the Password" size="large" @keyup.enter.native="loginFunc"></el-input>
                </div>
                <div class="item-wrapper" style="margin-bottom:5px;">
                    <label style="margin-right:5px;">아이디 저장</label>
                    <el-switch v-model="form.isIdChk"></el-switch>
                </div>
                <el-button @click.prevent="loginFunc" class="btn-full">로그인</el-button>
                <hr>
                <el-button @click.prevent="$router.push('/signup')" type="primary">
                    회원가입
                </el-button>
            </el-form>
            <div class="find-menu">
                <div>아이디 찾기</div>
                <span>|</span>
                <div>비밀번호 찾기</div>
            </div>
        </div>
    </el-container>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
    name: "Login",
    data() {
        return {
            labelPosition: "top",
            form: {
                id: '',
                pw: '',
                isIdChk: false
            }
        }
    },
    computed: {
        ...mapGetters({
            samples: 'getSamples',
            status: 'getStatus'
        })
    },
    methods: {
        ...mapActions(['login']),
        async loginFunc() {
            const vm = this;
            const {id, pw} = vm.form;

            if(!id) return vm.$alert('아이디를 입력해주세요', '알림');
            if(!pw) return vm.$alert('비밀번호를 입력해주세요', '알림');

            const loginChk = await vm.login({id, pw, samples: vm.samples});
            if(loginChk){
                // if(isIdChk) // cookie setting
                vm.$router.push('/');
            }else{
                return vm.$alert("아이디 또는 비밀번호를 확인해주세요.", "알림");
            }
        }
    },
}
</script>

<style lang="scss" scoped>
@import "@/assets/sign/login.scss";
</style>