<template>
  <el-container id="signupView">
    <div class="signup-main">
      <img src="@/assets/logo.png" alt="logo" @click="$router.push('/')" />
      <h4>[회원가입]</h4>
      <component :is="component" @changeComp="changeComp"></component>
    </div>
  </el-container>
</template>

<script>
import Term from "./signup/Term.vue";
import Form from "./signup/Form.vue";

export default {
  name: "Signup",
  components: {
    Term, Form
  },
  data() {
    return {
      component: "Term"
    };
  },
  methods: {
    changeComp(component) {
      this.component = component;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/sign/signup.scss";
</style>