.test-checkbox {
  display: flex;
  &:hover {
    cursor: pointer;

    p {
      text-decoration: underline;
    }
  }

  i {
    height: max-content;
    margin: auto 5px auto 0px;
  }
  p {
    font-size: 13px;
  }
  .sub-text {
    font-size: 11px;
    color: gray;
  }
}
