#loginView{
    height: 100%;
    background-color: whitesmoke;

    .login-main{
        margin: auto;
        min-width: 300px;
        max-width: 400px;

        h1{
            text-align: center;
            margin: 0px;
        }
        img{
            display: inherit;
            cursor: pointer;
            margin: 0px auto 20px auto;
        }
        hr{
            border-color: lightgray;
        }

        .item-wrapper{
            label{
                display: inline-block;
                color: rgb(131, 131, 131);
                font-size: 12px;
                margin-bottom: 4px;
            }

            .el-input{
                margin-bottom: 10px;
            }
        }

        .el-button{
            width: 100%;
        }
    }

    .el-form-item{
        margin-bottom: 10px;
    }

    .find-menu{
        display: flex;
        margin-top: 5px;
        font-size: 11px;
        color: lightslategrey;

        div:first-child{
            margin-left: auto;
        }
        div{
            text-decoration: underline;
            margin: 0px 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}