#signupView {
  height: 100%;
  background-color: whitesmoke;

  .signup-main {
    margin: auto;
    // min-width: 300px;
    // max-width: 400px;
    width: 400px;
    h4 {
      margin: 0px;
      text-align: center;
    }
    img {
      display: inherit;
      cursor: pointer;
      margin: 0px auto 20px auto;
    }

    .margin-top-bot {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .textarea {
      width: 100%;
      height: 100px;

      textarea {
        height: 100%;
      }
    }

    .signup-form {
      margin-top: 10px;

      .item-wrapper {
        label {
          display: inline-block;
          color: rgb(131, 131, 131);
          font-size: 12px;
          margin-bottom: 4px;
        }

        .caution {
          display: inline-block;
          margin-left: 5px;
          color: red;
        }

        .el-input {
          margin-bottom: 10px;
        }
      }
    }
  }
}
