<template>
    <div class="card-caption">
        <el-main>
            <div>
                <span class="header">
                    <slot name="header"></slot>
                </span>
            </div>
            <div>
                <p class="content">
                    <slot></slot>
                </p>
            </div>
        </el-main>
    </div>
</template>

<script>
    export default {
        name: "CardCaption"
    }
</script>

<style lang="scss" scoped>
.card-caption{
    width: 100%;
    height: 150px;

    .header{
        font-size: 18px;
    }

    .content{
        font-size: 14px;
    }
}
</style>