<template>
    <div class="home-footer">
        <el-container class="boxed">
            <el-main>
                <el-row :gutter="20" class="footer-row">
                    <el-col :span="6">
                        <h2>OXTRADE</h2>
                        <p><i class="el-icon-user"></i> (주)오엑스트레이드</p>
                        <p><i class="el-icon-s-home"></i> 서울 송파구 문정동 324-1 테라타워 712호</p>
                        <p><i class="el-icon-s-order"></i> 사업자등록번호_313-81-33586</p>
                        <p><i class="el-icon-s-comment"></i> oxtrade911@gmail.com</p>
                    </el-col>
                    <el-col :span="6">
                        <h3>운영시간</h3>
                        <p>OX트레이드는 투자가능한 시간에는 항상 실시간 채팅을 통해 고객지원을 하고 있습니다.</p>
                        <p>[입출금시간]<br>24시간 연중무휴<br>[실시간상담시간]<br>평일 24시간<br>주말 09시부터 18시까지</p>
                    </el-col>
                    <el-col :span="6">
                        <h3>데이터센터</h3>
                        <p>자사는 외부조작에 대한 피해를 최소화하기 위하여 가격과 지표를 국제적으로 공신력있는 거래소 FXCM, OANDA, FOREX.COM의 GBP/AUD평균지표와 LIVE-RATE.COM과 1forge.com의 API데이터를 결합</p>
                    </el-col>
                    <el-col :span="6">
                        <h3>데이터센터</h3>
                        <div>
                            <span><i class="el-icon-caret-right"></i> 거래하기</span>
                        </div>
                        <div>
                            <span><i class="el-icon-caret-right"></i> 사용자가이드</span>
                        </div>
                        <div>
                            <span><i class="el-icon-caret-right"></i> 입출금내역</span>
                        </div>
                        <div>
                            <span><i class="el-icon-caret-right"></i> 공지사항</span>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
</template>

<script>
    export default {
        name: "HomeFooter"
    }
</script>

<style lang="scss" scoped>
.home-footer{
    background-color: rgb(38, 49, 60);
    color: white;

    .footer-row{
        text-align: left;
        margin: 50px 0px;

        p{
            font-size: 12px;
            line-height: 20px;
        }
        span{
            display: inline-block;
            font-size: 12px;
            margin-bottom: 5px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}
</style>