<template>
    <el-header id="homeHeader">
        <el-container>
            <div class="header-left">
                <div class="textTitle">OXTRADE</div>
            </div>
            <div class="header-center">
                <router-link to="/" class="header-menu">Home</router-link>
                <router-link to="/test" class="header-menu">Test</router-link>
            </div>
            <div class="header-right">
                <template v-if="status === 'success'">
                    <el-button @click="$router.push('/')">{{ me.name }}님 어서오세요</el-button>
                    <el-button @click="$router.push('/trade')" type="primary">거래시작</el-button>
                    <el-button type="danger" @click.prevent="logoutFunc">로그아웃</el-button>
                </template>
                <template v-else>
                    <el-button @click="$router.push('/signup')" type="success">Sign Up</el-button>
                    <el-button @click="$router.push('/login')" type="primary">Login</el-button>
                </template>
            </div>
        </el-container>
    </el-header>
</template>

<script>
// import TextTitle from '@/components/static/TextTitle.vue';
import {mapGetters, mapActions} from 'vuex';

export default {
    name: "Header",
    data() {
        return {
            
        }
    },
    computed: {
        ...mapGetters({
            me: 'getMe',
            status: 'getStatus'
        })
    },
    methods: {
        ...mapActions(['logout']),
        logoutFunc() {
            const vm = this
            vm.$confirm('로그아웃을 하시겠습니까?', "로그아웃").then(() => {
                vm.logout();
                vm.$router.push('/');
            });
        }
    },
}
</script>

<style lang="scss">
@import '@/assets/home/header.scss';
</style>