<template>
  <div id="home">
    <home-header></home-header>
    <el-scrollbar>
      <el-container>
        <el-main class="logo-main">
          <img alt="Vue logo" src="@/assets/logo.png" />
        </el-main>
      </el-container>
      <el-container class="boxed">
        <el-main class="content-main">
          <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
          <el-row :gutter="20">
            <el-col v-for="(coin, idx) in coinList" :key="coin.key" :span="6">
              <el-card class="content-card">
                <h4>{{ coin.caption }}</h4>
                <i class="el-icon-star-on"></i>
                <h4 :class="idx % 2 === 0 ? 'caption-green' : 'caption-red'">{{ coin.price }}</h4>
                <span>매도 {{ coin.buy }}건 / 매수 {{ coin.cell }}건</span>
              </el-card>
            </el-col>
          </el-row>

          <el-main>
            <h2>정확성과 속도를 넘어 고객에게 최적화된 거래환경을 제공합니다.</h2>
            <p>
              OX트레이드는 바이너리옵션을 기반한 FX마진/가상화폐 거래서비스로써 아무런 증거금 없이<br>
              최소 1만원부터 투자 할 수 있게 해주는 위험관리형 온라인트레이딩플랫폼입니다.
            </p>
          </el-main>

          <el-row :gutter="20">
            <el-col :span="8" v-for="idx in 6" :key="idx">
              <el-container>
                <i class="el-icon-success"></i>
                <card-caption>
                  <template v-slot:header>
                    국내 <u>최저 수수료</u>를 자랑합니다.
                  </template>
                  국내에서 가장 저렴한 수수료 12%를 자랑합니다. 환전비용, 초기비용, 초기증거금, 유지증거금 없이 최소 5000원부터 투자 가능합니다.
                </card-caption>
              </el-container>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :span="12">
              <img alt="Vue logo" src="@/assets/logo.png" />
            </el-col>
            <el-col :span="12">
              <div class="sub-caption-wrapper">
                <h3>OX트레이드에서는</h3>
                <p>
                  다양한 FX종목과 가상화폐(BTC)까지<br>
                  고객의 성향에 따라 투자할 수 있습니다.
                </p>
                <span>
                  OX트레이드는 렌트(1/2/5분)거래방식과 함께 바이너리옵션방식의 투자방식을 지원함으로써 투자자가 원하는 금액에서 진입/투자가 가능합니다.
                  또한 자사 시스템에서는 FX마진과 함께 가상화폐(BTC/USDT) 등의 다양한 종목에 실시간 동시투자가 가능합니다.
                </span>
              </div>
            </el-col>
          </el-row>
        </el-main>
      </el-container>
      <div style="background-color: rgb(101, 193, 221);">
        <el-container class="boxed">
          <el-main>
            <el-row :gutter="20">
              <el-col :span="12">
                <div class="sub-caption-wrapper">
                  <h3>OX트레이드에서는</h3>
                  <p style="color:white;">
                    다양한 FX종목과 가상화폐(BTC)까지<br>
                    고객의 성향에 따라 투자할 수 있습니다.
                  </p>
                  <span style="color:white;">
                    OX트레이드는 렌트(1/2/5분)거래방식과 함께 바이너리옵션방식의 투자방식을 지원함으로써 투자자가 원하는 금액에서 진입/투자가 가능합니다.
                    또한 자사 시스템에서는 FX마진과 함께 가상화폐(BTC/USDT) 등의 다양한 종목에 실시간 동시투자가 가능합니다.
                  </span>
                </div>
              </el-col>
              <el-col :span="12">
                <img alt="Vue logo" src="@/assets/logo.png" />
              </el-col>
            </el-row>
          </el-main>
        </el-container>
      </div>
      <home-footer></home-footer>
    </el-scrollbar>
  </div>
</template>

<script>
// @ is an alias to /src
import CardCaption from '@/components/home/CardCaption.vue';
import HomeFooter from '@/layout/home/HomeFooter.vue';
import HomeHeader from '@/layout/home/HomeHeader.vue';

export default {
  name: "Home",
  components: {
    CardCaption,
    HomeHeader,
    HomeFooter
  },
  data() {
    return {
      coinList: [
        {caption: "BTC/USDT", price: "11,767.10", buy: "481", cell: "509"},
        {caption: "NASDAQ100", price: "12,757.10", buy: "397", cell: "377"},
        {caption: "GBP/AUD", price: "13,717.10", buy: "379", cell: "417"},
        {caption: "XAU/USD", price: "12,110.10", buy: "353", cell: "376"}
      ]
    }
  },
  computed: {
    listLength() {
      return this.coinList.length; 
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/home";
</style>
